<nav class="primary">
  <ul>
    {%- set navPages = collections.all | eleventyNavigation -%}
    {%- for entry in navPages -%}
    <li>
      <a {% if entry.url==page.url %} class="active"{% endif %}href="{{ entry.url }}">{{ entry.title }}</a>
    </li>
    {%- endfor -%}
  </ul>
</nav>
