@use "sass:map";

$breakpoints: (
	xs: 400px,
	sm: 480px,
	md: 768px,
	lg: 1024px,
	xl: 1200px,
);

@function breakpoint($key) {
	@return map-get($breakpoints, $key);
}

// Spacing Scale used from Shopify Polaris:
// https://polaris.shopify.com/design/space
$spacing: (
	0: 0,
	1: 0.125rem,
	2: 0.25rem,
	3: 0.5rem,
	4: 1rem,
	5: 2rem,
	6: 4rem,
);

@function spacing($key) {
	@return map-get($spacing, $key);
}

// Minor Third type scale (1.2 multiplier)
$font-size: (
	1: 0.579rem,
	2: 0.694rem,
	3: 0.833rem,
	4: 1rem,
	5: 1.2rem,
	6: 1.44rem,
	7: 1.728rem,
	8: 2.074rem,
	9: 2.488rem,
);

@function font-size($key) {
	@return map-get($font-size, $key);
}

$line-height: (
	1: 0.75,
	2: 0.875,
	3: 1,
	4: 1.125,
	5: 1.25,
	6: 1.5,
	7: 1.75,
	8: 2,
	9: 2.25,
);

@function line-height($key) {
	@return map-get($line-height, $key);
}

$font-weight: (
	400: 400,
	500: 500,
	600: 600,
);

@function font-weight($key) {
	@return map-get($font-weight, $key);
}

$border-radius: (
	4: 1rem,
	full: 100%,
);

@function border-radius($key) {
	@return map-get($border-radius, $key);
}

@font-face {
	font-display: swap;
	font-family: "inter-regular";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/inter-regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "inter-medium";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/inter-medium.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "inter-semibold";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/inter-semibold.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "robotomono-regular";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/robotomono-regular.woff2") format("woff2");
}

$font-families: (
	site-title: (
		"inter-semibold",
		"sans-serif",
	),
	headings: (
		"inter-medium",
		"sans-serif",
	),
	content: (
		"inter-regular",
		sans-serif,
	),
	monospace: (
		"robotomono-regular",
		monospace,
	),
);

@function font-family($key) {
	@return map-get($font-families, $key);
}

$colors: (
	black: #27272a,
	white: #fafafa,
	neutral: (
		50: #fafafa,
		100: #f4f4f5,
		200: #e4e4e7,
		300: #d4d4d8,
		400: #a1a1aa,
		500: #71717a,
		600: #52525b,
		700: #3f3f46,
		800: #27272a,
		900: #18181b,
	),
	blue: (
		50: #f0f9ff,
		100: #e0f2fe,
		200: #bae6fd,
		300: #7dd3fc,
		400: #38bdf8,
		500: #0ea5e9,
		600: #0284c7,
		700: #0369a1,
		800: #075985,
		900: #0c4a6e,
	),
	amber: (
		50: #fffbeb,
		100: #fef3c7,
		200: #fde68a,
		300: #fcd34d,
		400: #fbbf24,
		500: #f59e0b,
		600: #d97706,
		700: #b45309,
		800: #92400e,
		900: #78350f,
	),
);

@function color($key, $subkey: "") {
	@if ($subkey != "") {
		@return map-get($colors, $key, $subkey);
	} @else {
		@return map-get($colors, $key);
	}
}

$max-content-width: 80rem;
