@use "sass:list";
@use "sass:map";
@use "./reset.scss";
@use "./ds.scss" as *;
@use "./utility.scss";
@use "./mixins" as *;
@use "./prism.css";

body {
	background: color(white);
	color: color(black);
	font: 400 list.slash(font-size(4), line-height(6)) font-family(content);
	margin: 0 auto;
}

h1 {
	font: 600 list.slash(font-size(6), line-height(6)) font-family(headings);
	margin-bottom: spacing(2);
	@include mq("md") {
		font-size: font-size(7);
	}
	@include mq("lg") {
		font-size: font-size(8);
	}
}

h2 {
	font: 600 list.slash(font-size(5), line-height(6)) font-family(headings);
	margin-bottom: spacing(1);
	@include mq("lg") {
		font-size: font-size(6);
		margin-bottom: spacing(3);
	}

	a {
		color: map-get($colors, black);
		text-decoration: none;
		&:hover {
			color: map-get($colors, black);
			text-decoration: none;
		}
	}
}

h3 {
	font: 600 list.slash(font-size(4), line-height(6)) font-family(headings);
	margin-bottom: spacing(1);
	@include mq("lg") {
		font-size: font-size(5);
	}

	a {
		color: map-get($colors, black);
		text-decoration: none;
		&:hover {
			color: map-get($colors, black);
			text-decoration: none;
		}
	}
}

a {
	color: color(blue, 700);
	text-decoration: underline;
	text-decoration-color: color(blue, 300);
	text-underline-offset: spacing(2);
	&:hover {
		color: color(blue, 500);
		text-decoration: underline;
		text-decoration-color: color(blue, 300);
	}
}

strong {
	font-weight: 600;
}

a.skiplink {
	background: color(black);
	color: color(white);
	left: 0;
	padding: spacing(4);
	position: absolute;
	top: -10rem;
	z-index: 100;
}

a.skiplink:focus {
	top: 0;
	transition: top 0.3s;
}

.wrapper {
	margin: 0 auto;
	max-width: $max-content-width;
}

@include mq("lg") {
	.main-content-wrapper {
		display: grid;
		grid-template-columns: 5fr 1fr;
	}
}

header.primary {
	background: color(blue, 700);
	border: solid 1px color(black);
	border-width: 1px 0;
	color: color(white);
	@include mq("lg") {
		text-align: left;
	}

	a {
		display: inline-block;
	}
	.wrapper {
		@include mq("lg") {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: spacing(3) spacing(4);
		}
	}
	.logo {
		display: block;
		max-width: 95%;
		height: auto;
		margin: 0 auto;
		padding: spacing(4) 0 spacing(2);
		@include mq("sm") {
			max-width: 500px;
		}
		@include mq("lg") {
			padding: 0;
			margin: initial;
		}
	}
}

nav.primary {
	border-top: solid 1px color(white);
	font: list.slash(font-size(4), line-height(6)) font-family(headings);
	@include mq("lg") {
		border-top: 0;
		font-size: font-size(5);
	}

	ul {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: spacing(4);
		@include mq("sm") {
			justify-content: flex-end;
		}
		li {
			padding: 0;
			list-style-type: none;
			@include mq("sm") {
				padding: 0 0 0 spacing(4);
			}
			@include mq("md") {
				padding: 0 0 0 spacing(5);
			}
			&.active a {
				text-decoration: underline;
				text-decoration-color: color(blue, 300);
			}
			a {
				color: color(white);
				display: inline-block;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

footer.primary {
	background: color(blue, 700);
	border: solid 1px color(black);
	border-width: 1 0;
	color: color(white);
	font: list.slash(font-size(4), line-height(6)) font-family(headings);

	a {
		color: color(white);
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		padding: spacing(4);
	}
}

.social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		text-decoration: none;
	}
	svg {
		margin: spacing(4) spacing(3);
	}
}

img.rounded {
	border-radius: border-radius(4);
}

main {
	padding: spacing(4);
	@include mq("lg") {
		padding: spacing(5);
	}
}

aside {
	padding: spacing(4) spacing(2);
	text-align: center;
	@include mq("lg") {
		padding: spacing(4);
	}
}

.profile-image img {
	border: 2px solid color(neutral, 600);
	border-radius: 10rem;
	margin: 0 auto;
	margin-top: spacing(4);
	max-width: 256px;
}

hr {
	border: solid 1px color(neutral, 200);
	border-width: 0 0 1px 0;
	margin: 0 0 spacing(4) 0;
}

p {
	margin: 0 0 spacing(4);
	@include mq("lg") {
		line-height: line-height(7);
	}
}

article {
	border-width: 0 0 1px 0;

	img {
		border-radius: 1rem; // Need DS token
	}

	time {
		color: color(amber, 900);
		font-family: font-family(heading);
	}

	.tags ul {
		li {
			font-family: font-family(heading);
			font-size: map-get($font-size, md);
			list-style-type: none;
			padding: map-get($spacing, md) map-get($spacing, md) 0 0;
		}
	}
}

ul.article-list {
	li {
		list-style-type: none;
	}

	time {
		display: block;
		font-size: font-size(3);
		margin: 0 0 spacing(2);
	}
	article {
		border: solid 1px color(neutral, 200);
		border-width: 0 0 1px 0;
		margin: 0 0 spacing(4) 0;
		padding: 0 0 spacing(4) 0;
		@include mq("lg") {
			padding: 0 0 spacing(5) 0;
		}

		img {
			display: block;
			margin: 0 auto;
			margin-bottom: 1rem; // Need DS token
		}

		ul.tags {
			display: flex;
			font-family: font-family(content);
			font-size: font-size(3);
			justify-content: flex-end;
			li {
				//color: color(amber, 900);
				color: color(amber, 800);
				list-style-type: none;
				padding: spacing(2) 0 0 spacing(2);
			}
		}

		@include mq("md") {
			.content {
				display: inline-grid;
				grid-template-columns: 1fr 2fr;
			}
			img {
				margin: 0 1rem 0 0;
				max-width: 400px;
			}
			p {
				margin: 0 0 0 1rem;
			}
			ul.tags li {
				padding: spacing(2) 0 0 spacing(3);
			}
		}
	}
}

.photo-stack {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	img: {
		max-width: 400px; // Use DS Metric
	}
	picture {
		padding: spacing(3);
	}
	@include mq("lg") {
		flex-direction: row;
		padding-bottom: spacing(4);
	}
}

ul {
	margin: spacing(4) spacing(4) spacing(4) spacing(5);
	li {
		display: list-item;
		list-style-type: square;
		padding-bottom: spacing(3);
	}
}

ul.bulletless {
	margin: spacing(2);
	li {
		display: list-item;
		list-style-type: none;
		padding-bottom: spacing(3);
	}
}

ul.icon-list {
	margin: spacing(2) spacing(4) spacing(4) spacing(5);
	li {
		display: list-item;
		list-style-type: none;
		padding-bottom: spacing(4);
		svg {
			margin-right: spacing(3);
			vertical-align: middle;
		}
	}
}

.blue-200 {
	color: color(blue, 200);
}

.blue-700 {
	color: color(blue, 700);
}

.flex {
	display: flex;
}

.quarter-fold-panel {
	@include mq("lg") {
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 2rem;
	}
	h3 {
		padding: spacing(4) 0 spacing(3);
	}
	svg {
		display: inline-block;
		height: auto;
		margin: spacing(4);
		max-width: 200px;
		@include mq("lg") {
			max-width: 280px;
		}
	}
}
