---
date: "2023-03-02"
description: "The \"Why do I need all this USB & SD media?\" Holder"
layout: post.njk
images:
  - src: "./src/images/original/usb-and-sd-media-holder.jpg"
    alt: "USB, SD, and MicroSD media holder"
og_image:
  alt: "USB, SD, and MicroSD media holder"
  height: 630
  type: "image/jpeg"
  url: "/images/og/usb-and-sd-media-holder.jpg"
  width: 1200
og_type: "article"
eleventyNavigation:
  key: "USB & SD Nedia Holder"
  parent: 3D Printing
tags:
- "3d-printing"
- "posts"
title: "The \"Why do I need all this USB & SD media?\" Holder"
---
<section>
<p>
This may belong in a "yet another" category for 3D modeling, but yes I wanted to design something for managing the countless portable media and dongles I hang onto. I also wanted a rectagular plot instead of a long strip that I see in many other models. Though this isn't a remix, this was definitely inspired by a <a href="https://www.thingiverse.com/thing:2637487">USB SD and MicroSD holder</a> I've used until now.</p>
<!-- excerpt -->

<p>This model can hold:</p>
<ul>
  <li>24 USB-A sticks and/or dongles</li>
  <li>16 SD cards</li>
  <li>29 MicroSD cards</li>
</ul>

{% image images[0].src, images[0].alt, "400px", [400, 800] %}
</section>
<hr/>
<section>
  <h2>Model Resources</h2>

  <p>The following are available for printing and customizing:</p>
  <ul class="icon-list">
    <li>
      <svg width="24" height="24" viewBox="0 0 32 32">
        <use href="#icon-social-thingiverse"></use>
      </svg>
      <a href="https://www.thingiverse.com/thing:5879104">
        STL file at Thingiverse
      </a>
    </li>
    <li>
      <svg width="24" height="24" viewBox="0 0 32 32">
        <use href="#icon-social-tinkercad"></use>
      </svg>
      <a href="https://www.tinkercad.com/things/59aH0FjGIw2">
        Editable model at Tinkercad
      </a>
    </li>
  </ul>
</section>
<hr />
<section>
  <h2>Estimated Resources</h2>
  <ul class="formatted">
    <li><strong>Print Time:</strong> 15hrs, 0min (with 50mm/s print speed)</li>
    <li><strong>Material Use:</strong> 102g, 34.20m</li>
  </ul>
  <p>
    <em>(sliced with <a href="https://ultimaker.com/software/ultimaker-cura">Ultimaker Cura 5.2.1</a>)
    </em>
  </p>
</section>
<hr />
<section>
  <h2>Recommmended Print Settings</h2>
  <ul class="formatted">
    <li><strong>Resolution:</strong> 0.2mm</li>
    <li><strong>Support:</strong> none</li>
    <li><strong>Infill:</strong> 20%</li>
    <li><strong>Raft/Brim:</strong> none</li>
    <li><strong>Vertical Walls:</strong> 4</li>
    <li><strong>Horizontal Walls:</strong> 3</li>
  </ul>
</section>
<hr />
<section>
  <h2>Printed With</h2>
  <ul class="formatted">
    <li><strong>Printer:</strong> <a href="https://www.creality3dofficial.com/products/creality-3d-cr-10-v2-3d-printer"
        target="_blank" rel="noopener noreferrer">Creality CR-10 v2</a></li>
    <li><strong>Filament:</strong> Hatchbox PLA, 1.75mm (white)</li>
  </ul>
</section>