---
date: "2016-01-01T06:00-06:00"
description: "This is the description"
slug: presentations
permalink: "presentations/index.html"
layout: base
---
<ul>
{%- for post in collections.presentations -%}
  <li>
    <a href="{{ post.url }}">
      <h2>{{ post.data.title }}</h2>
    </a>
    {{ post.data.date }}


    {{ post.content | safe }}
  </li>
{%- endfor -%}
</ul>
