<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Preconnects -->
    <link rel="preload" href="/fonts/exo2-semibold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/poppins-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/poppins-bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/robotomono-regular.woff2" as="font" type="font/woff2" crossorigin>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="{{ site.favicon.msAppTileColor }}">
    <meta name="theme-color" content="{{ site.favicon.androidThemeColor }}">

    <!-- Generator (I *heart* Eleventy!) -->
    <meta name="generator" content="Eleventy">

    <!-- Title & Description -->
    <title>{{ title }}</title>
    <meta name="description" content="{{description}}">

    <!-- Canonical URL -->
    <link rel="canonical" href="{{site.hostname}}{{page.url}}" />

    <!-- fb: meta -->
    <meta property="fb:app_id" content="{{site.social.Facebook.appId}}" />
    <meta property="fb:pages" content="{{site.social.Facebook.pageId}}" />

    <!-- Open Graph meta -->
    <meta property="og:site_name" content="{{site.name}}">
    <meta property="og:type" content="{{og_type}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:url" content="{{site.url}}{{permalink | url }}" />
    <meta property="og:locale" content="{{site.locale}}" />

    <meta property="og:image" content="{{site.url}}{{og_image.url}}" />
    <meta property="og:image:type" content="{{og_image.type}}" />
    <meta property="og:image:width" content="{{og_image.width}}" />
    <meta property="og:image:height" content="{{og_image.height}}" />
    <meta property="og:image:alt" content="{{og_image.alt}}" />

    <!-- Twitter meta -->
    <meta name="twitter:card" content="{{twitter_card_type}}" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="{{og_image.url}}" />
    <meta name="twitter:site" content="{{site.social.Twitter.username}}" />
    <meta name="twitter:image:alt" content="{{og_image.alt}}">

    <!-- Webmention tags -->
    <link rel="webmention" href="https://webmention.io/www.ericcarlisle.com/webmention" />
    <link rel="pingback" href="https://webmention.io/www.ericcarlisle.com/xmlrpc" />

  {%- if site.environment === "production" -%}
    {%- set css -%}
      {% include "../../dist/css/main.css" %}
    {%- endset -%}
    <style>{{ css }}</style>
  {%- else -%}
    <link rel="stylesheet" href="/css/main.css">
  {%- endif -%}

  <!-- Structured Data -->
  {%- include "../includes/structuredData.njk" -%}
  </head>
<body>
  {%- if site.environment === 'production' -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-34545855-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-34545855-1');
    gtag('set', 'allow_google_signals', false);
  </script>
  {%- endif -%}
  <a href="#main-content" class="skiplink">Skip to Content</a>
  <header class="primary">
    <div class="wrapper">
      {%- include "src/images/eric-carlisle-logo.svg" -%}
      {%- include "../includes/primaryNavigation.njk" -%}
    </div>
  </header>
  <div class="wrapper main-content-wrapper">
    <main id="main-content">
      {{ content | safe }}
    </main>
    <aside>
      <picture class="profile-image">
        <source srcset="/images/profile/eric-carlisle_512.webp 2x,
                        /images/profile/eric-carlisle_512.webp 1x" type="image/webp" />
        <source srcset="/images/profile/eric-carlisle_512.avif 2x,
                        /images/profile/eric-carlisle_512.avif 1x" type="image/avif" />
        <img srcset="/images/profile/eric-carlisle_512.jpg 2x,
                        /images/profile/eric-carlisle_512.jpg 1x" type="image/jpeg" width="256" height="256"
          alt="Eric Carlisle" />
      </picture>

      <div class="social-icons">
        {%- for name, item in site.social %}
        {%- if item.url -%}
        <a href="{{item.url}}" aria-label="Eric's {{name}} Profile"{% if name.toLowerCase() == "github" %} rel="me"{% endif %}>
          <svg width="24" height="24" viewBox="0 0 32 32">
            <use href="#icon-social-{{name.toLowerCase()}}"></use>
          </svg>
        </a>
        {%- endif -%}
        {% endfor -%}
        <a href="/feed.xml" aria-label="RSS Feed">
          <svg width="24" height="24" viewBox="0 0 32 32">
            <use href="#icon-rss"></use>
          </svg>
        </a>
      </div>
    </aside>
  </div>
  <footer class="primary">
    <div class="wrapper">
      <ul class="bulletless">
        <li>
          <a href="https://11ty.dev">Built with
            <svg width="24" height="24" viewBox="0 0 15694 15694" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle">
              <use href="#icon-11ty" />
            </svg>
            v2.0.0
          </a>
        </li>
        <li>
          <a href="{{site.github.repository}}{{site.github.branch}}{{page.inputPath}}">Edit this page on GitHub</a>
        </li>
      </ul>
      <span>
        © Copyright 2023 Eric Carlisle
      </span>
    </div>
  </footer>
  {% include "svg-icons.njk" %}
</body>
</html>